<div class="modal fade" id="printSettingsModalMyDepartment" tabindex="-1" aria-labelledby="printSettingsModalMyDepartmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="printSettingsModalMyDepartmentLabel">
                    <i class="fas fa-print me-2"></i>Настройки печати
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="printOrientationMyDepartment" class="form-label">Ориентация страницы:</label>
                    <select class="form-select" id="printOrientationMyDepartment">
                        <option value="portrait">Книжная (вертикальная)</option>
                        <option value="landscape">Альбомная (горизонтальная)</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="confirmPrintMyDepartment">
                    <i class="fas fa-print me-1"></i> Печать
                </button>
            </div>
        </div>
    </div>
</div>
