<div class="modal fade" id="printSettingsModal" tabindex="-1" aria-labelledby="printSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="printSettingsModalLabel">
                    <i class="fas fa-print me-2"></i>Настройки печати
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="printOrientation" class="form-label">Ориентация страницы:</label>
                    <select class="form-select" id="printOrientation">
                        <option value="portrait">Книжная (вертикальная)</option>
                        <option value="landscape">Альбомная (горизонтальная)</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Отделы для печати:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="printDepartments" id="printAllDepartments" value="all" checked>
                        <label class="form-check-label" for="printAllDepartments">
                            Все отделы
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="printDepartments" id="printSelectedDepartments" value="selected">
                        <label class="form-check-label" for="printSelectedDepartments">
                            Выбранные отделы
                        </label>
                    </div>
                </div>
                <div id="printDepartmentSelection" style="display: none;">
                    <label class="form-label">Выберите отделы:</label>
                    <select class="form-select" id="printDepartmentsSelect" multiple size="5">
                        <!-- Отделы будут загружены динамически -->
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="confirmPrint">
                    <i class="fas fa-print me-1"></i> Печать
                </button>
            </div>
        </div>
    </div>
</div>

